<header class="header">
	<div>
		<div class = "header__container">
			<span class = "header__title">
				Palo Alto
			</span>
			<ul  class = "header__menu">
				<li><a href="/index.html">home</a></li>	
				<li><a href="/profile.html">profile</a></li>
				<li><a href="#"><img src="../images/search.png"></a></li>
			</ul>	
		</div>
	</div>
</header>
