<header class="header">
	<div class = "header__container">
		<span class="header__logo" >
			<img srcset="partials/includes/header/images/logo-header.png 1x, /partials/includes/header/images/logo-header@2x.png 2x"  />
		</span>
		<div class="header__menu-icon">
			<img srcset="partials/includes/header/images/burger.png 1x, /partials/includes/header/images/burger@2x.png 2x" class="header__mobile-menu" />
		</div>
		<ul  class = "header__menu">
			<li><a href="/index.html">home</a></li>
			<li><a href="/profile.html">profile</a></li>
			<li><a href="#"><img srcset="partials/includes/header/images/search.png 1x, partials/includes/header/images/search@2x.png 2x" /></a></li>
		</ul>
	</div>
</header>
