$font-italic: Lato-BoldItalic;
$bg-color: #f7f9fc;
$font-bold: Lato-Bold;

.header{
	width: auto;
	height: 187px;
	background-color: $bg-color;

	&__container{
	font-family: $font-italic;
	font-size: 42px;
	color: #333333;
	margin: 0 auto;
	width: 952px;
	line-height: 187px;
	}

	&__mobile-menu {
		display: none;
	}
	
	&__menu{
	list-style-type: none;
	float: right;	
	margin-top: -7px;
		li{
		display: inline;
		margin-right: 35px;
			a{
			font-size: 16px;
			font-family: $font-bold;
			text-transform: uppercase;
			color: #333333;
			}
		}

		li:last-child{
		margin-right: 0;
		}
	}

}


@media (max-width: 768px) {

	.header {
		width: 768px;
		&__container {
			width: 700px;
		}

	}


}

@media (max-width: 320px) {

	.header {
		width: 320px;
		&__container {
			width: 280px;
			text-align: right;
		}

		&__menu {
			display: none;
		}

		&__logo {
			display: block;
			float: left;
		}

		&__mobile-menu {
			display: inline;
		}
	}


}
