<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="Palo Alto, PixelBuddha Team, Yosemite Peak" />
	<meta name="description" content="Palo Alto" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./main.css">
	<link rel="shortcut icon" href="./images/favicon.ico" sizes="32x32"/>
	<link rel="shortcut icon" type="image/png" href="./images/favicon.png" sizes="32x32"/>
	<title>Palo Alto</title>
</head>
<body>
	{{> includes/header/header}}

    {{#> main-block}}
    {{/main-block}}

	{{> includes/footer/footer}}
</body>
</html>
