$bg-color: #f7f9fc;
$footer-background: #5c6bc0;
$font-bold: Lato-Bold;
$font-italic: Lato-Italic;
$font-regular: Lato-Regular;
$font-light: Lato-Light;



body {
  font-family: $font-regular, sans-serif;
  font-size: 20px;
  background-color: $bg-color;
  position: relative;

}

.slide-menu {
  background-color: #252b4d;
  //overflow: scroll;
  right: -240px;  /* start off behind the scenes */
  height: 100%;
  min-height: 370px;
  position: fixed;
  width: 240px;

  &__search{
		width: 200px;
		height: 68px;
		border: none;
		background-color: #252b4d;
		color: #9597a3;
		font-family: $font-light;
		font-size: 16px;
		padding-left: 40px;
		background-image: url(/partials/layout/images/menu-search-white.png);
		background-position: 184px 26px;
		background-repeat: no-repeat;
	}

	&__menu{
		list-style-type: none;
		margin-top: 0;
		li{
			display: block;
			margin-top: 40px;
			a{
				font-size: 14px;
				font-family: $font-bold;
				text-transform: uppercase;
				color: #ffffff;
			}
		}
	}

	&__divider{
  		height: 1px;
  		background: #3b415f;

	}

	&__footer{
		position: absolute;
		bottom: 40px;
	}

	&__logo-footer{
		padding-left: 40px;
		margin-bottom: 20px;

	}

	&__copyright{
		padding-left: 40px;
		color: #9597a3;
		font-size: 13px;
		font-family: $font-regular;

	}

  input:focus {
    border: none;
  }
}

.menu-icon {
  cursor: pointer;
}

@media only screen and (min-device-pixel-ratio: 1.5) {
	.side-menu {
	  	&__search {
			background-image: url(/partials/layout/images/menu-search-white@2x.png);
		}
	}
}

.container{

	width: auto;
	background-color: $bg-color;
	min-width: 768px;
	padding: 0 20px 0 20px;
}

button:hover{
	outline: none !important;
    border: 1px solid #f1f1f1;
}

button:focus{
	outline: none !important;
    border: 1px solid #f1f1f1;
}

button:active{
	outline: none !important;
    border: 1px solid #7d89cd;
}

input:focus{
	outline: none !important;
    border: 1px solid #7d89cd;
}

@media (max-width: 768px) {

	.container{
		
		min-width: 320px;

	}

}

@media (max-width: 320px) {

	html {
	  overflow: scroll;
	}
    body {
     overflow: hidden;   
    }

	.container{
		padding: 0;
		width: 320px;
		min-width: auto

	}

}
