
.profile{
	max-width: 952px;
	background-color: #ffffff;
	margin: 0 auto 100px;
	box-shadow: 0 0 40px #ebedf0;

	&__header{
	height: 150px;
	font-family: $font-bold;
	font-size: 40px;
	color: #333333;
	margin-left: 98px;
	line-height: 150px;
	}	

	&__profile-form{
	width: 364px;
	margin: 0 auto;
	}
}

.profile-form{
	&__input{
	width: 330px;
	height: 54px;
	margin-bottom: 30px;
	background-color: $bg-color;
	border: 1px solid #f7f9fc;
	font-size: 20px;
	padding-left: 32px;
	}

	&__label{
	display: block;
	font-family: $font-regular;
	font-size: 20px;
	margin-bottom: 15px;
	margin-top: 0;

	}

	&__submit{
	display: inline-block;
	width: 189px;
	height: 53px;
	font-family: $font-bold;
	text-transform: uppercase;
	margin-top: 30px;
	font-size: 20px;
	color: #5c6bc0;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	margin-bottom: 68px;
	}

	&__divider{
  	height: 2px;
  	background: #eeeeee;
  	margin: 0 98px 44px 98px;
	}

	&__label-radio{
	display: block;
	margin-bottom: 17px;
	font-family: $font-regular;
	font-size: 20px;
	background: url(/pages/profile/images/radio.png) left 3px no-repeat;
	min-height: 25px;
	padding-left: 25px;
	}

	&__input-date {
	background-image: url(/pages/profile/images/icon.png);
	background-position: 318px 13px;
	background-repeat: no-repeat;
	}
}


input[type='radio']{
	display: none;
}

input[type='radio']:checked + label{
	background: url(/pages/profile/images/radio-checked.png) left 3px no-repeat;
}

@media only screen and (min-device-pixel-ratio: 1.5) {
	.profile-form {
	  	&__input-date {
			background-image: url(/pages/profile/images/icon@2x.png);
		}

		&__label-radio{
			background-image: url(/pages/profile/images/radio@2x.png);
		}
	}

	input[type='radio']:checked + label{
		background-image: url(/pages/profile/images/radio-checked@2x.png);
	}

}


@media (max-width: 768px) {
	.profile {
		max-width: 700px;
		min-width: 480px;
		margin-bottom: 54px;
		
		&__header {
			/*display: block;*/
			/*margin: 0 auto;*/
			margin-left: 75px;
			height: 100px;
			font-size: 36px;
			line-height: 100px;
			overflow: hidden;
		}

		&__profile-form {
			width: 300px;
		}

		&__submit {
			text-align: center;
		}
	}

	.profile-form {

		&__divider {
			margin: 0 auto 40px auto;
    		width: 550px;
		}

		&__input {
			width: 268px;
			padding-left: 32px;
		}

		&__submit {
			margin-top: 10px;
			margin-bottom: 20px;
		}

		&__input-date {

			background-position: 256px 13px;

		}
	}
}

@media (max-width: 320px) {
	.profile {
		max-width: auto;
		min-width: auto;
		width: 280px;
		margin-bottom: 54px;
		&__header {
			display: block;
			margin: 0 auto;
			width: 50%;
			height: 80px;
			text-align: center;
			font-size: 36px;
			line-height: 80px;
		}

		&__profile-form {
			width: 232px;
			padding-left: 24px;
			padding-right: 24px;
		}

		&__submit {
			text-align: center;
		}
	}

	.profile-form {

		&__divider {
			margin: 0 auto 20px auto;
    		width: 229px;
		}

		&__input {
			width: 216px;
			padding-left: 18px;
		}

		&__submit {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		&__input-date {

			background-position: 190px 13px;

		}
	}
}


