$font-italic: Lato-BoldItalic;
$bg-color: #f7f9fc;

.header{
	width: 1400px;
	height: 187px;
	margin: auto;
	background-color: $bg-color;

	&__container{
	font-family: $font-italic;
	font-size: 42px;
	color: #333333;
	margin-left: 223px;
	line-height: 187px;
}
}

