{{#> layout/base }}

{{#*inline "main-block"}}
<main class = "container">
	<section class="post">
		<div class = "post__header">
			<div class = "post__header-category">
				I Do Travel
			</div>
			<p class="post__header-date">Sep 20</p>
			<p class="post__header-header">No difference how many peaks you reach if there was no pleasure in the climb.</p> 
		</div>
		<div class = "post__divider"></div>
		<div class="post__text">
			<p>Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
		</div>
		<div class = "post__bottom-container">
			<div>
				<button class="post__read-more" type="button">read more
				</button>
			</div>
			<div class = "post__tags">
				<a href="#">#Yosemite</a>
				<a href="#">#Peak</a>
				<a href="#">#Explorer</a>
			</div>	
		</div>	
	</section>

	<section class="post last-post">
				<img class = "post__images" srcset="/pages/index/images/yosemite.png 1x, /pages/index/images/yosemite@2x.png 2x" />
		<div class = "post__header">

			<div class = "post__header-category last-post__header-category">
				I Do Observe
			</div>
			<p class="post__header-date last-post__header-date">Sep 18</p>
			<p class="post__header-header">You know, I'd rather argue with you, then laugh with anyone else.</p> 
		</div>
		<div class = "post__divider"></div>
		<div class="post__text">
			<p class="last-post__text-italics">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</p>
			<p>Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
			<p>Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</p>
		</div>
		<div class = "post__bottom-container">
			<div>
				<button class="post__read-more" type="button">read more
				</button>
			</div>
			<div class = "post__tags">
				<a href="#">#Yosemite</a>
				<a href="#">#Peak</a>
				<a href="#">#Photo</a>
			</div>	
		</div>	
	</section>
</main>
{{/inline}}

{{/layout/base }}
