<footer class="footer">
	<div class="footer__title">
		Palo Alto
	</div>
	<ul  class = "footer__menu">
		<li><a href="/index.html">home</a></li>	
		<li><a href="/profile.html">profile</a></li>
		<li><a href="#"><img src="../images/search-white.png"></a></li>
	</ul>	
	<div class="footer__copyright">
		<span>© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by</span>
		<span class="footer__team">PixelBuddha Team</span>
	</div>
	<div class="footer__sprite">
		<a class="footer__sprite-facebook" href="https://www.facebook.com/"></a>
		<a class="footer__sprite-twitter" href="https://twitter.com/"></a>
		<a class="footer__sprite-instagram" href="https://www.instagram.com/"></a>
		<a class="footer__sprite-pinterest" href="https://pinterest.com/"></a>
	</div>
</footer>
