<footer class="footer">
	<div class="footer__logo-footer">
		Palo Alto
	</div>
	<ul  class = "footer__menu-footer">
		<li><a href="/index.html">home</a></li>	
		<li><a href="/profile.html">profile</a></li>
		<li><a href="#"><img srcset="/partials/includes/footer/images/search-white.png 1x, /partials/includes/footer/images/search-white@2x.png 2x" /></a></li>
	</ul>	
	<div class="footer__copyright">
		<span>© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by</span>
		<span class="footer__team">PixelBuddha Team</span>
	</div>
	<div class="footer__sprite">
		<a class="footer__sprite_facebook" href="https://www.facebook.com/"></a>
		<a class="footer__sprite_twitter" href="https://twitter.com/"></a>
		<a class="footer__sprite_instagram" href="https://www.instagram.com/"></a>
		<a class="footer__sprite_pinterest" href="https://pinterest.com/"></a>
	</div>
</footer>
